<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="./js/jquery.min.js" type="text/javascript"></script>

</head>
<body>
<input id="btn" type="button" value="跨域获取数据" />
<textarea id="text" style="width: 400px; height: 100px;"></textarea>

<script>
    //回调函数
    function showData (result) {
        var data = JSON.stringify(result); //json对象转成字符串
        $("#text").val(data);
    }

    $(document).ready(function () {

        $("#btn").click(function () {
            //向头部输入一个脚本，该脚本发起一个跨域请求
            $.ajax({
                type: "GET",
                url: "/app",
                data: {username:"dddd"},
                success: function(data){
                    alert("ssss "+ JSON.stringify(data));
                },
                error: function(err){
                    alert('fail ' + JSON.stringify(err));
                }
            });
        });

    });
</script>
</body>
</html>
